body {   
    padding:50px;
}
#birth_flower_qa {
    background:url(https://img.freepik.com/free-photo/vertical-closeup-shot-beautiful-pink-tulips-white-background_181624-33261.jpg?uid=R194052344&ga=GA1.1.1163509948.1748824439&semt=ais_hybrid&w=740) center / cover;
    text-align:center;
    width:450px; height:800px;
    padding-top:100px;
}
#birth_flower_qa h1 {
    font-size:2rem; font-weight:500;
}
.birth_input {
    margin:100px 20px 50px; 
    /* display:flex; */

}
.birth_input #birth_flower_qa .birth_info {
    
}
.birth_input #birth_flower_qa .birth_info span {}
#birth_flower_qa #result_btn {
    display:block; margin:0 auto;
    background-color:pink; border-radius:10px;
    padding:20px 40px;
    font-size:1.25rem; font-weight:500;
}
#birth_flower_qa #result {
    background-color:#eee;
    width:300px; line-height:50px;
    margin:50px auto 0;
}